body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#board {
  width: 32em;
  height: 32em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.square {
  display: inline-block;
  border: 3px solid black;
  width: 10em;
  height: 10em;
  margin-bottom: 1px;
}

/* display: table-cell is required in order to use vertical-align
 This allows for an X or O perfectly centered in the p element */
.blank {
  display: table-cell;
  /* inherit setting from parent element's class */
  width: inherit;
  height: inherit;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  /*background-color: #D8D8D8;*/
}

.X {
  display: table-cell;
  width: inherit;
  height: inherit;
  font-family: Arial;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #81F7F3;
}

.O {
  display: table-cell;
  width: inherit;
  height: inherit;
  font-family: Arial;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #81F781;
}

#panel {
  border: 3px solid black;
  width: 32em;
  height: 5em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

h2 {
 float: left;
 padding: 0em 3.4em 0em 2.2em;
 line-height: 0.5em;
}

#tie {
    padding-right: 5.5em;
    padding-left: 3em;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    line-height: 8px;
}

li {
  display: inline;
  padding: 0 3.8em 0em 2.22em;
  font-size: 1.5em;
}

#reset {
  margin: 1.5em 7em 0em 9em;
  background: rgb(184, 53, 53);
  color: white;
  width: 8em;
  height: 2em;
  font-size: 1.25em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
